In [14]:
import pandas as pd
import numpy as np

In [20]:
irs = pd.read_excel("C:/Users/tlsdm/OneDrive/바탕 화면/신의영/프로젝트 1 자료/한국자금중개_3년 금리/CRS_10.xlsx")
crs = pd.read_excel("C:/Users/tlsdm/OneDrive/바탕 화면/신의영/프로젝트 1 자료/한국자금중개_3년 금리/IRS_10.xlsx")
exchange = pd.read_excel("C:/Users/tlsdm/OneDrive/바탕 화면/신의영/프로젝트 1 자료/한국자금중개_3년 금리/환율_10.xlsx")

In [21]:
# irs.set_index("DateTime",inplace=True)
# crs.set_index("DateTime",inplace=True)

In [22]:

exchange_df =exchange[["일자", "종가"]]

In [23]:
exchange_df.columns = ["DateTime","종가"]
exchange_df

       DateTime      종가
0    2012-08-01  1126.5
1    2012-08-02  1131.7
2    2012-08-03  1134.8
3    2012-08-06  1129.0
4    2012-08-07  1128.8
...         ...     ...
2455 2022-07-25  1313.7
2456 2022-07-26  1307.6
2457 2022-07-27  1313.3
2458 2022-07-28  1296.1
2459 2022-07-29  1299.1

[2460 rows x 2 columns]

In [24]:
irs_df = irs[["DateTime","Ask"]]

In [25]:
crs_df = crs[["DateTime","Bid"]]

In [13]:
#irs_df["DateTime"] = irs_df["DateTime"].astype("str")
#crs_df["DateTime"] = crs_df["DateTime"].astype("str")

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_24564\2389559448.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  irs_df["DateTime"] = irs_df["DateTime"].astype("str")
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_24564\2389559448.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crs_df["DateTime"] = crs_df["DateTime"].astype("str")

In [31]:
irscrs =pd.merge(crs_df, exchange_df ,  on="DateTime",how="left" )
irscrs["종가"][irscrs["종가"].isnull()]

103    NaN
596    NaN
845    NaN
1196   NaN
1197   NaN
1585   NaN
1832   NaN
2081   NaN
2330   NaN
Name: 종가, dtype: float64

In [39]:
irscrs.loc[1196]

DateTime    2016-12-30 00:00:00
Bid                        1.49
종가                          NaN
Name: 1196, dtype: object

In [80]:
irs_df.to_csv("irs.csv", encoding="CP949")

: