In [1]:
import pandas as pd

In [2]:
SwapBasis_2002 = pd.read_excel('./xlsx/3Y/SwapBasis_20020731(3Y).xlsx', index_col=0)
SwapBasis_2003 = pd.read_excel('./xlsx/3Y/SwapBasis_20030731(3Y).xlsx', index_col=0)
SwapBasis_2004 = pd.read_excel('./xlsx/3Y/SwapBasis_20040731(3Y).xlsx', index_col=0)
SwapBasis_2005 = pd.read_excel('./xlsx/3Y/SwapBasis_20050731(3Y).xlsx', index_col=0)
SwapBasis_2006 = pd.read_excel('./xlsx/3Y/SwapBasis_20060731(3Y).xlsx', index_col=0)
SwapBasis_2007 = pd.read_excel('./xlsx/3Y/SwapBasis_20070731(3Y).xlsx', index_col=0)
SwapBasis_2008 = pd.read_excel('./xlsx/3Y/SwapBasis_20080731(3Y).xlsx', index_col=0)
SwapBasis_2009 = pd.read_excel('./xlsx/3Y/SwapBasis_20090731(3Y).xlsx', index_col=0)
SwapBasis_2010 = pd.read_excel('./xlsx/3Y/SwapBasis_20100731(3Y).xlsx', index_col=0)
SwapBasis_2011 = pd.read_excel('./xlsx/3Y/SwapBasis_20110731(3Y).xlsx', index_col=0)
SwapBasis_2012 = pd.read_excel('./xlsx/3Y/SwapBasis_20120731(3Y).xlsx', index_col=0)

In [3]:
# 불필요한 컬럼제거
SwapBasis_2002.drop(['Mid', '전일비', 'IRS', 'DateTime.1', 'Mid.1', '전일비.1'], axis=1, inplace=True)
SwapBasis_2003.drop(['Mid', '전일비', 'IRS', 'DateTime.1', 'Mid.1', '전일비.1'], axis=1, inplace=True)
SwapBasis_2004.drop(['Mid', '전일비', 'IRS', 'DateTime.1', 'Mid.1', '전일비.1'], axis=1, inplace=True)
SwapBasis_2005.drop(['Mid', '전일비', 'IRS', 'DateTime.1', 'Mid.1', '전일비.1'], axis=1, inplace=True)
SwapBasis_2006.drop(['Mid', '전일비', 'IRS', 'DateTime.1', 'Mid.1', '전일비.1'], axis=1, inplace=True)
SwapBasis_2007.drop(['Mid', '전일비', 'IRS', 'DateTime.1', 'Mid.1', '전일비.1'], axis=1, inplace=True)
SwapBasis_2008.drop(['Mid', '전일비', 'IRS', 'DateTime.1', 'Mid.1', '전일비.1'], axis=1, inplace=True)
SwapBasis_2009.drop(['Mid', '전일비', 'IRS', 'DateTime.1', 'Mid.1', '전일비.1'], axis=1, inplace=True)
SwapBasis_2010.drop(['Mid', '전일비', 'IRS', 'DateTime.1', 'Mid.1', '전일비.1'], axis=1, inplace=True)
SwapBasis_2011.drop(['Mid', '전일비', 'IRS', 'DateTime.1', 'Mid.1', '전일비.1'], axis=1, inplace=True)
SwapBasis_2012.drop(['Mid', '전일비', 'IRS', 'DateTime.1', 'Mid.1', '전일비.1'], axis=1, inplace=True)

In [4]:
# 컬럼명 변경
SwapBasis_20020731 = SwapBasis_2002.rename(columns={"베이시스" : "3Y_베이시스"})
SwapBasis_20030731 = SwapBasis_2003.rename(columns={"베이시스" : "3Y_베이시스"})
SwapBasis_20040731 = SwapBasis_2004.rename(columns={"베이시스" : "3Y_베이시스"})
SwapBasis_20050731 = SwapBasis_2005.rename(columns={"베이시스" : "3Y_베이시스"})
SwapBasis_20060731 = SwapBasis_2006.rename(columns={"베이시스" : "3Y_베이시스"})
SwapBasis_20070731 = SwapBasis_2007.rename(columns={"베이시스" : "3Y_베이시스"})
SwapBasis_20080731 = SwapBasis_2008.rename(columns={"베이시스" : "3Y_베이시스"})
SwapBasis_20090731 = SwapBasis_2009.rename(columns={"베이시스" : "3Y_베이시스"})
SwapBasis_20100731 = SwapBasis_2010.rename(columns={"베이시스" : "3Y_베이시스"})
SwapBasis_20110731 = SwapBasis_2011.rename(columns={"베이시스" : "3Y_베이시스"})
SwapBasis_20120731 = SwapBasis_2012.rename(columns={"베이시스" : "3Y_베이시스"})

In [5]:
# 인덱스를 DateTime으로 변경
SwapBasis_20020731.set_index('DateTime', inplace = True)
SwapBasis_20030731.set_index('DateTime', inplace = True)
SwapBasis_20040731.set_index('DateTime', inplace = True)
SwapBasis_20050731.set_index('DateTime', inplace = True)
SwapBasis_20060731.set_index('DateTime', inplace = True)
SwapBasis_20070731.set_index('DateTime', inplace = True)
SwapBasis_20080731.set_index('DateTime', inplace = True)
SwapBasis_20090731.set_index('DateTime', inplace = True)
SwapBasis_20100731.set_index('DateTime', inplace = True)
SwapBasis_20110731.set_index('DateTime', inplace = True)
SwapBasis_20120731.set_index('DateTime', inplace = True)

In [6]:
SwapBasis_20022003 = pd.concat([SwapBasis_20030731, SwapBasis_20020731])
SwapBasis_20042005 = pd.concat([SwapBasis_20050731, SwapBasis_20040731])
SwapBasis_20062007 = pd.concat([SwapBasis_20070731, SwapBasis_20060731])
SwapBasis_20082009 = pd.concat([SwapBasis_20090731, SwapBasis_20080731])
SwapBasis_20102011 = pd.concat([SwapBasis_20110731, SwapBasis_20100731])

In [7]:
SwapBasis_02030405 = pd.concat([SwapBasis_20042005, SwapBasis_20022003])
SwapBasis_06070809 = pd.concat([SwapBasis_20082009, SwapBasis_20062007])
SwapBasis_101112 = pd.concat([SwapBasis_20120731, SwapBasis_20102011])

In [8]:
SwapBasis_23456789 = pd.concat([SwapBasis_06070809, SwapBasis_02030405])
SwapBasis_101112 = pd.concat([SwapBasis_20120731, SwapBasis_20102011])

In [9]:
SwapBasis3Y_20022012 = pd.concat([SwapBasis_101112, SwapBasis_23456789])
SwapBasis3Y_20022012

            3Y_베이시스
DateTime
2013-08-01   -140.5
2013-07-31   -140.5
2013-07-30   -135.5
2013-07-29   -129.5
2013-07-26   -139.0
...             ...
2002-08-06    -39.0
2002-08-05    -39.0
2002-08-02    -40.0
2002-08-01    -40.0
2002-07-31    -41.0

[2762 rows x 1 columns]

In [10]:
SwapBasis3Y_20022012.to_excel('./xlsx/SwapBasis3Y_20022012.xlsx')